.fix-container-width {

    .side-container {
        padding-top: 5%;
        padding-left: 3%;

        .border-container-white{
            border-left: 1px solid #eee;
            border-top: 1px solid #eee;
            border-right: 2px solid #eee;
            border-bottom: 2px solid #eee;
            min-height: 92%;
        }

        .container-reserva {
            padding: 50px;
        }

        .container-white {
            background: #fff;
            border-radius: 10px;
        }
    }
}