<div class="sidebar content-box">
  <ul class="nav">
    <!-- Main menu -->
    <li><a routerLink="/" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a></li>
    <li><a routerLink="/users" routerLinkActive="active"><i class="fa fa-user" aria-hidden="true"></i> Pasajeros</a></li>
    <li><a routerLink="/buses" routerLinkActive="active"><i class="fa fa-bus-alt"></i> Buses</a></li>
    <li><a routerLink="/drivers" routerLinkActive="active"><i class="fa fa-user-tie"></i> Choferes</a></li>
    <li><a routerLink="/trips" routerLinkActive="active"><i class="fa fa-map-marked-alt"></i> Trayectos</a></li>
    <!--li><a routerLink="/booking" routerLinkActive="active"><i class="fa fa-user-clock"></i> Reservar</a></li-->
    <li><a routerLink="/stats" routerLinkActive="active"><i class="fa fa-clipboard-list"></i> Estadísticas</a></li>
  </ul>
</div>