.titulo_p{
    color: #7ad0e1;
    font-size: 32px;
}

.clock{
    font-size: 60px;
}

.loader-fix{
    min-height: 400px;
    width: 100%;
}

.delete {
    color: #ff6a6a;
}

.delete:hover {
    color: #ff0000;
}