.titulo_p{
    color: #7ad0e1;
    font-size: 32px;
}

.titulo_s {
    color: #7ad0e1;
    margin-top: 1rem;
    font-size: 18px;
}

.clock{
    font-size: 60px;
}

.loader-fix{
    min-height: 400px;
    width: 100%;
}

.delete {
    color: #ff6a6a;
}

.delete:hover {
    color: #ff0000;
}

app-user, app-bus, app-driver, app-travel, app-stats, app-booking {
    width: 100%;
}